# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Package management
*.egg-info/
dist/
build/
env_src/uv.lock

# Application specific
.cache/
.logs/
env_src/config.ini
.context.json

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
